* {
    all: unset;
    font-family: Hack Nerd Font;
    color: white;
    border-radius: 10px;
}

tooltip {
    background-color: black;
}

contents trough {
    background-color: grey; 
    highlight {background-color: white;}
}

.musicbutton image {
    margin: 8px;
    -gtk-icon-effect: dim;
}

.musicbutton:hover image {
    -gtk-icon-effect: none;
    -gtk-icon-transform: scale(1.05);
}
