@import "colors.scss";

* {
    all: unset;
    font-family: Hack Nerd Font;
    color: $text0;
    border-radius: 10px;
}

tooltip {
    background-color: $surface1;
}

contents trough {
    background-color: $surface2; 
    highlight {background-color: $subtext1;}
}

.music {
  color: transparent;
  background-color: red;
}

.musicbutton image {
    margin: 8px;
    -gtk-icon-effect: dim;
}

.musicbutton:hover image {
    -gtk-icon-effect: none;
    -gtk-icon-transform: scale(1.05);
}
