
#custom-power {
    color: @maroon;
}


#bluetooth {
    color: @blue;
}

#pulseaudio {
    color: @pink;
}

#clock {
    color: @green;
}

#cava {
    color: @sky;
}

#temperature {
    color: @teal;
}

