
#taskbar button:hover * {
  -gtk-icon-transform: scale(1.6);
}

#taskbar button.active {
  background: @surface1;
  border-radius: 10px;
}

#taskbar button.active * {
  -gtk-icon-transform: scale(1.4);
}

#taskbar button:hover {
  background: @surface2;
}

