
#workspaces {
  border-radius: 1rem;
  margin: 5px;
  background-color: @surface0;
  margin-left: 1rem;
  color: @lavender;
}

#workspaces button {
  border-radius: 0.8rem;
  padding: 0.4rem;
}

#workspaces button.active {
  background: @overlay0;
  color: @sky;
  border-radius: 0.8rem;
}

#workspaces button:hover {
  background: @surface2;
  color: @sapphire;
  border-radius: 0.8rem;
}

